.color-primary {
  color: var(--color-primary);
}
.color-primary-dark {
  color: var(--color-primary-dark);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-secondary-dark {
  color: var(--color-secondary-dark);
}
.color-tertiary {
  color: var(--color-tertiary);
}
.color-tertiary-dark {
  color: var(--color-tertiary-dark);
}
.color-white {
  color: var(--color-white);
}
.color-dove {
  color: var(--color-dove);
}
.color-silver {
  color: var(--color-silver);
}
.color-moon {
  color: var(--color-moon);
}
.color-graphite {
  color: var(--color-graphite);
}
.color-black {
  color: var(--color-black);
}
.color-error {
  color: var(--color-error);
}
.color-warning {
  color: var(--color-warning);
}
.color-success {
  color: var(--color-success);
}
.color-info {
  color: var(--color-info);
}
