.shadow-tiny {
  box-shadow: var(--shadow-tiny);
}
.shadow-small {
  box-shadow: var(--shadow-small);
}
.shadow-base {
  box-shadow: var(--shadow-base);
}
.shadow-large {
  box-shadow: var(--shadow-large);
}
.shadow-huge {
  box-shadow: var(--shadow-huge);
}
