html:root {
  --color-primary: #25dac4;
  --color-primary-dark: #0db9a4;
  --color-secondary: #482be7;
  --color-secondary-dark: #2f1893;
  --color-tertiary: #e93a7d;
  --color-tertiary-dark: #4a5568;

  --color-white: #fff;
  --color-dove: #f7fafc;
  --color-silver: #e4e4e6;
  --color-moon: #a1a1a9;
  --color-graphite: #2f2f2f;
  --color-black: #181818;

  --color-error: #ed4542;
  --color-warning: #facc16;
  --color-success: #85cc16;
  --color-info: #31d1df;

  --shadow-tiny: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-small: 0px 4px 6px 0px rgba(0, 0, 0, 0.1),
    0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  --shadow-base: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  --shadow-large: 0px 10px 10px 0px rgba(0, 0, 0, 0.04),
    0px 20px 25px 0px rgba(0, 0, 0, 0.1);
  --shadow-huge: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);

  --dropdown-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23323232' width='24px' height='24px' d='M7.4 8.6l4.6 4.6 4.6-4.6L18 10l-6 6-6-6 1.4-1.4z'/%3E%3C/svg%3E");
}

html.sparrow:root {
  --color-primary: red;
}
