<header class="navigation">
  <div class="container">
    <a href="/">ButterUI</a>
    <a href="/components">All components</a>
    <a href="/components/hero">Hero</a>
    <a href="/components/navigation">Navigation</a>
  </div>
</header>